body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:0;
}

header{
    background:#2d5875;
    color:white;
    padding:12px;
    width: 100%;
    margin:auto;
}

.about{
    padding:20px;
}

.menu{
    padding:20px;
}

.container{
    display:flex;
    justify-content:space-evenly;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:15px;
    width:200px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    border-radius:5px;
}

footer{
    background:#333;
    color:white;
    padding:10px;
    margin-top:auto;
}

.hero{
    padding:30px;
    width: auto;
    background:#ffffff;
}

.cuisine ul{
    list-style:none;
    padding:0;
}

.cuisine li{
    margin:5px;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:70%;
}

table, th, td{
    border:1px solid black;
    padding:8px;
}

.contact{
    padding:20px;
}