body{
    margin:0;
    font-family: Arial;
    background:#f4f7fb;
    color:#333;
}

/* HEADER */
header{
    text-align:center;
    padding:30px;
    background:#2c3e50;
    color:white;
}


/* CONTAINER */
.container{
    width:95%;
    margin:auto;
}

/* SECTIONS */
section{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition: all 0.4s ease;

}

section:hover{
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    scale: 1.01;
}

/* HEADINGS */
h2{
    border-left:5px solid #3498db;
    padding-left:10px;
}

/* LEARNING STEPS */
.steps{
    display:flex;
    gap:15px;   
    /* justify-content: space-evenly; */
}

.step{
    flex:1;
    background:#3498db;
    color:white;
    padding:10px;
    text-align:center;
    border-radius:5px;
}

/* CATEGORIES */
.categories{
    list-style:none;
    padding:0;
}

.categories li{
    display:inline-block;
    background:#ecf0f1;
    padding:8px 15px;
    margin:5px;
    border-radius:20px;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#3498db;
    color:white;
}

/* FOOTER */
footer{
    text-align:center;
    padding:15px;
    background:#2c3e50;
    color:white;
    margin-top:20px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .steps{
        flex-direction:column;
    }
}